

@{

    Layout = "~/Views/Shared/_Layout.cshtml";


}
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Yetkiniz Bulunmamaktadır!</h4>
    <p>Lütfen Kullanıcı Adınızı ve Şifreniz kontrol ediniz!</p>
    <hr>
</div>
<div class="col-md-1">
    <a class="btn btn-danger" href="/Admin" role="button">Geri</a>
</div>